
  body {
    background-color: #0c0c0e;
    color: #f2efe8;
    font-family: 'Titillium';
    margin: 0;
    line-height: 1.5;
  }
 
  h1, h2, h3 {
    color: #f2efe8;
  }
 
  a {
    color: #f2efe8;
    text-decoration: none;
  }
 
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }



@font-face {
    font-family: 'Orbitron';
    src: url('fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 900;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('fonts/Titillium/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: 400 900;
    font-style: normal;
}







  /* ===== NAVIGATION BAR ===== */
  nav {
    background-color: #17171a;
    position: fixed;
    width: 100%;
    z-index: 9000;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(143, 8, 8, 0) 10%, rgba(50, 0, 0, 0.7) 100%);
  }
 
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
    padding: 15px;
  }
 
  .logo {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Orbitron';
    white-space: nowrap;
  }
 
  .logo span {
    color: #e2332a;

  }
 
#x{
  display: inline-block;
  background-color: #e2332a;
  color: #f2efe8;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Orbitron';
}

 
  /* ===== PAGE HEADER ===== */
  .page-header {
    text-align: center;
    padding: 30px 20px;
    border-bottom: 1px solid #333;
  }
 
  .page-header h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Orbitron';
  }
 
  .page-header h1 span {
    color: #e2332a;
  }
 
  .page-header p {
    font-size: 17px;
    color: #cfccc4;
    max-width: 500px;
    margin: 0 auto;
  }
 
  /* ===== SECTION ===== */
  .section {
    padding: 60px 20px;
    border-bottom: 1px solid #333;
  }
 
  .section h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
 
  .section > .container > p.intro {
    color: #85888f;
    margin-bottom: 40px;
  }


#papaya {
  padding-top: 150px
}



#gaplogotexthome{
  padding-left: 20px;
  min-width: max-content;
}

#spacejoinusbutton{
  padding-left: 500px;
}

.btn {
  display: inline-block;
  background-color: #e2332a;
  color: #f2efe8;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: bold;
  font-family: 'Orbitron';

}

.btn:hover{
  background-color:#9d2620;
}

#gapimagehome{
  padding-left: 100px;
}

#findmore{
  margin-left: 10px;
}


#s {
  display: flex;
  justify-content: center;
}

#p {
  margin: 0 auto;
}

#red-stats-number{
  font-size: 80px;
  color: #e2332a;
  font-weight: bold;
  text-align: center;
  padding: 0px 100px
}

#white-stats-description{
  font-size: 20px;
  text-align: center;
  padding: 0px 100px
}




.dropdown{
    position: relative;
}

#dropdown-flex{
  list-style: none;
  display: flex;
  text-align: center;
  font-family: 'Orbitron';
  margin-top: 10px;
  max-width: 100%;
  flex-wrap: nowrap;
  white-space: nowrap;
}

#dropdown-flex > li {
  margin-right: 80px;
}

.content{
    margin-top: 20px;
    font-family: 'Titillium';
}

.fixed li:hover{
  background-color: #e2332a;
}

.fixed {
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-60%);
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  text-align: center;
}

.dropdown:hover .fixed{
    display: block;
    list-style: none;
    background-color:#2d0303;
}


footer {
  color: #85888f;
  border-top: 1px solid #333;
  margin-top: 20px;
  padding: 10px 0px;
  background-color: #17171a;
  width:100%;
  overflow: hidden;

  max-width: 100%;
}

footer table{
  align-items: center
}

.footer-section{
    text-align: center;
    vertical-align: top;
}

.footer-section h3{
  font-family: 'Orbitron';
  padding: 5px 30px
}

.footer-section img{
  border-radius: 50%
}


footer p{
  text-align: center;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  z-index: 10; 
  background: rgba(130, 93, 93, 0.5);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
}

#prevBtn {
  left: 10px;        
}

#nextBtn {
  right: 10px;       
}

#footer-section-1 a:hover{
  background-color:#e2332a;
}

#table{
  max-width: 100%;
  table-layout: fixed;
  min-width: 10;
}
